/* MAIN FRAME */
main {
	height: 55rem;
    display: grid;
	grid-template-columns: 250px auto;
	/* column-gap: 10px; */
}

/* SLOGAN */
.slogan h1 {
    text-align: center;
    font-size: 50px;
	color: #1F6ECC;
}

/* CONTENT */
.content {
	padding: 0 20px;
}

.content h2 {
	font-size: 24pt;
}

.content p {
	font-size: 12pt;
	text-align: justify;
	height: 730px;
  	overflow-y: auto;
}

.content form {
	text-align: center;
}

.content form input[type=text], input[type=email], input[type=password] {
	width: 240px;
	height: 45px;
	border-radius: 5px;
	margin-bottom: 10px;
	padding-left: 10px;
	font-size: 15px;
}

.content form button {
	width: 256px;
	height: 51px;
	border-radius: 5px;
	color: white;
	background-color: #154074;
	font-size: 20px;
}

.content form button:hover {
	background-color: #195094;
}
